**/*.pyc
database/database.db

sdk/face_data/*
!sdk/face_data/s1
!sdk/face_data/s2
!sdk/face_data/s3
!sdk/face_data/s4
!sdk/face_data/s5
!sdk/face_data/s6
!sdk/face_data/s7
!sdk/face_data/s8
!sdk/face_data/s9
!sdk/face_data/s10
!sdk/face_data/s11
!sdk/face_data/s12
!sdk/face_data/s13
!sdk/face_data/s14
!sdk/face_data/s15
!sdk/face_data/s16
!sdk/face_data/s17
!sdk/face_data/s18
!sdk/face_data/s19
!sdk/face_data/s20
!sdk/face_data/s21
!sdk/face_data/s22
!sdk/face_data/s23
!sdk/face_data/s24
!sdk/face_data/s25
!sdk/face_data/s26
!sdk/face_data/s27
!sdk/face_data/s28
!sdk/face_data/s29
!sdk/face_data/s30
!sdk/face_data/s31
!sdk/face_data/s32
!sdk/face_data/s33
!sdk/face_data/s34
!sdk/face_data/s35
!sdk/face_data/s36
!sdk/face_data/s37
!sdk/face_data/s38
!sdk/face_data/s39
!sdk/face_data/s40
!sdk/face_data/s41
!sdk/face_data/s42
